  #tabuleiro { 
    width: 400px; 
    margin: 20px auto;
  }
  #resultado {
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold;
  }
  
  #pgn{
    left: 35%;
    position: relative;
    height: 100px;
  }
  
#analisar {
    display: block;
    margin: 10px auto;
}